<div class="container">
    
    <h1 class="text-center">Occasion</h1>
    <div class="col-md-6">
        <%= image_tag("birthday-occasion.jpg", class: "img-thumbnail", width: 800, height: 800)%>
    </div>
    
</div>
